*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
header{
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;

}
nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.site-logo {
    font-size: 24px;
    font-weight: bold;
}
.hero-section{
        background-color: #1f2937;
        display: flex;
        align-items: center;
        padding: 100px 200px;
        gap: 70px;

}
.hero-section h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
    
}
.hero-section p{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}
.hero-content{
    max-width: 500px;
}
.btn{
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;

}
.btn-primary{
    background-color: #3882f6;
}
.hero-image{
    width: 500px;
    background: gray;
    height: 250px;
    border-radius: 8px;
    justify-content: center;
}
.information-section{
    text-align: center;
    padding: 80px 200px;
    background-color:white;
}
.information-section h2{
    color: #1f2937;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card-wrapper {
    display: flex;
    flex-direction: column;  /* Stack card and text vertically */
    align-items: center;      /* Center them horizontally */
}
.card {
    border: 3px solid #3882f6;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
    width: 150px;
    height: 150px;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.card-wrapper p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    max-width: 150px;
}

.quote-section{
    background-color: #e5e7eb;
    padding: 80px 200px;
}
.quote-section blockquote{
    max-width: 800px;
    margin:  0 auto;

}
.quote-section blockquote p{
    font-size: 36px; 
    font-style: italic;
    color: #1f2937; 
    font-weight: 300;
}
.quote-section cite{
    display: block; 
text-align: right; 
margin-top: 20px;
font-size: 24px;
font-weight: bold;
color: #1f2937;
font-style: normal;
}
.cta-section{
    padding: 80px 200px;
}
.cta-container{
    background-color: #3882f6;
padding: 50px 100px; 
border-radius: 10px;
display: flex; 
justify-content: space-between;
align-items: center; 
}
.cta-content h3{
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}
.cta-content p{
    color: white;
    font-size: 16px;
}

.btn-secondary{
    background-color: transparent;
    border: 2px solid white;
}

footer{
    background-color: #1f2937;
    text-align: center;
    padding: 30px;
}
footer p{
    color: white;
    font-size: 16px;
}